body{
    background-color: rgb(244, 238, 231);
    font-family: Verdana, sans-serif;
    color:rgb(0, 0, 0);
}

.header, .footer
{
    width: 100%;
    
    font-weight: bolder;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgb(244, 238, 231);
    font-size: larger;
}

.header-links, .footer-links
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style-type: none;
}

.header-links
{
    padding: 0px 50px;
}

.footer
{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer-links
{
    gap: 50px;
}



.site-body
{
    padding: 0 10%;
    margin-top: 50px; /* Adjust this value based on the header height to avoid overlap */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.site-body-Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.site-body-Intro h1 {
    font-size: 10vw;
    margin: 0;

    white-space: nowrap; /* Prevent text from wrapping to a new line */
}


.site-body-AboutMe
{
    display: flex;
    padding: 2% 0%;
}

.site-body-AboutMe p{
    padding-right: 50%;
    font-family: Garamond, serif;
    font-size: large;
}


.site-body-Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects-Title
{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding: 0;

    font-weight: bolder;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.project {
    border: 1px solid #ccc;

    background-color: rgb(240, 225, 208);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.project:hover {
    border: 1px solid #777;
}

div.project img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.project-responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
}



a
{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:hover
{
    text-decoration:none; 
    color:#d86a15; 
    cursor:pointer;  
}

img
{
    max-width: 100%;
    height: auto;
}

li
{
    list-style-type: none;
}




.form-popup
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
    max-height: 90%; /* Ensure it doesn't overflow vertically */
    z-index: 1000;

    border-radius: 30px;

    justify-content: center;
    align-items: center;

    background-color: #777;
}